.front-page-slides {
	margin: 0 -5rem;
	img {
		display: block;
		width: 100%;
	}

	div {
		display: flex;

		width: 100%;
		justify-content: space-evenly;
		align-items: end;
		.study-btn {
			padding: 0.73rem;
			width: 50%;
			//box-shadow: 5px 5px 10px #37353552;
			background-color: white;

			border: none;
			font-size: 0.7rem;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.faculty {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem 0;

	h3 {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1rem;
	}
	article {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1rem;
		p {
			color: white;
			font-size: 0.6rem;
			max-width: 20%;
			padding: 0.5rem;
			background-color: #006d77;
			display: flex;
			align-items: center;
			&:hover {
				text-decoration: underline;
			}
			.fa-solid {
				display: block;
				color: white;
				font-size: 1rem;
				padding: 1rem;
				text-align: center;
			}
		}
	}
}

.aktuelt {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 0 auto;
	justify-content: space-evenly;
	img {
		max-width: 250px;
		height: 250px;
	}
	h3 {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1rem;
	}
	article {
		display: flex;
		max-width: 450px;
		width: 100%;
		background-color: white;
		padding: 1rem;
		gap: 1rem;

		div {
			flex-direction: column;
			display: flex;
			font-size: 0.6rem;
			h4 {
				font-size: 0.8rem;
				margin: 0.1rem;
			}
		}
		button {
			background-color: $buttons;
			color: white;
			border: none;
			padding: 0.5rem;
			font-size: 0.6rem;
		}
	}
}

.calendar {
	h3 {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1rem;
	}
	a {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 0.8rem;
		margin-top: -0.9rem;
		margin-bottom: 2rem;
		color: black;
	}
	img {
		max-width: 100%;
	}
}
